extends ../../templates/forusers/layoutuser

block content
  .total-content
    .grandcontent
      .shownewtext.container


        h2.titlenote= imagen.title
        
        p Por #{imagen.creator.comp_email}


       
 