nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') VirtBook
    #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
      
        li
          a(href='/Vbook-signup') Registrate
        li
          a(href='/Vbook-signin') Iniciar sesión
        //
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li><a href="#">Merchandise</a></li>
          <li><a href="#">Extras</a></li>
          <li><a href="#">Media</a></li>
          </ul>
          </li>
        // <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>